/* Styling for DgtlCrfts index.html */

header {
    display: inline-block;
    height: 480px;
    width: 100%;
}

#header-menu {
    
    margin-top: 3px;
    width: 250px;
    
    float: right;
}

#header-menu ul {
    list-style-type: none;
    margin-top: 5px;
    margin-right: 15px;
}

#header-menu li {
    font-size: 11px;
    padding: 4px;
    display: inline;
    color: #8a93a3;
}


#big-pic {


    
    height: 100%;
    background-image: url("/images/atl.png");
    text-align: center;


}

#hero {
    width: 400px;
    top: 20vh;
    left: 33vw;
    text-align: center;
    position: absolute;
}

#hero img {
    /*margin-left: 28%*/
    width: 150px;
}

#hero h1 {

    font-size: 60px;
    color: white;
    font-family: Arial;
    font-weight: 200;
    color: white;
}

#hero h2 {

    color: white;
    font-family: Arial;
    font-weight: 200;
    color: #8a93a3;
}